# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# next.js
/.next/
/out/

# testing
/coverage

# misc
.DS_Store
*.pem

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# local env files
.env*.local

# typescript
next-env.d.ts
*.tsbuildinfo

# PWA files
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map
**/public/swe-worker-*
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
